body {
    border: 1px solid black;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
}

.timer-circle {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    margin: 20px auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 25px; 
    color: crimson; 
    border: 8px solid #3498db; 
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btns button {
    padding: 8px;
}